/* TestimonialsSection.css */

.testimonials-section {
  padding: 2rem;
  background-color: #f8f9fa;
  color: #333;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.testimonials-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.testimonial-card {
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  max-width: calc(33.333% - 1rem);
}

.testimonial-card h3 {
  color: #087f5b;
  margin-bottom: 0.5rem;
}

.testimonial-card h4 {
  color: #555;
  margin-bottom: 0.5rem;
}

.testimonial-card p {
  color: #444;
  margin-bottom: 1rem;
}

.detail-icon {
  width: 24px;
  height: 24px;
  margin: 0.5rem 0;
  stroke: #087f5b;
  display: block;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .testimonial-card {
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .testimonials-grid {
    justify-content: center;
  }

  .testimonial-card {
    max-width: calc(100% - 1rem);
  }
}