/* WorkExperienceSection.css */

.work-experience-section {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.grid-3-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.experience-card {
  flex-basis: calc(33% - 1rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
}

.experience-content h3,
.experience-content p {
  color: #333;
}

.experience-details {
  list-style: none;
  padding: 0;
}

.achievement-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  stroke: #087f5b;
}

.new-section-title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .grid-3-cols {
    flex-direction: column;
  }

  .experience-card {
    flex-basis: 100%;
  }

  .new-section-title {
    font-size: 1.5rem;
  }
}